{% extends 'main.html' %}
{% load socialaccount %}
{% block content %}

{% if page == 'login' %}
<form class="form" action="" method="POST">
                {% csrf_token %}
              <div>
                <label>Email</label>
                <input id="email" name="email" type="text" placeholder="aboba@gmail.com" />
              </div>
              <div>
                <label for="password">Password</label>
                <input
                  id="password"
                  name="password"
                  type="password"
                  placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                />
              </div>
                <a href="{% url 'register-user' %}">Signup</a> <br>
                <a href="{% provider_login_url 'google' %}">login with Google</a> <br>
              <button type="submit">
                Login
              </button>
            </form>
{% else %}
 <form method="POST" action="">
    {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register">
    </form>

    <p>Already signed up?</p>
    <a href="{% url 'login-user' %}">Login</a>
{% endif %}
{% endblock %}